<% include header %>

<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--cover section slider -->
<section id="home" class="home-cover">
    <div id="cover-slider-container" class="cover_slider owl-carousel owl-theme">
    </div>
    <div class="cover_nav">
        <ul class="cover_dots">
            <li class="active" data="0"><span>1</span></li>
            <li  data="1"><span>2</span></li>
            <li  data="2"><span>3</span></li>
        </ul>
    </div>
</section>
<!--cover section slider end -->


<% include footer %> 
