<!--cover item 1 -->    
<div class="cover_item" style="background: url('assets/img/bg/slider.png');">
        <div class="slider_content">
        <div class="slider-content-inner">
            <div class="container">
                <div class="slider-content-left">
                    <h2 class="cover-title">
                        <%= data.title %> 
                    </h2>
                    <strong class="cover-xl-text">conference</strong>
                    <p class="cover-date">
                        <%= data.date %> - <%= data.location %> 
                    </p>
                    <a href="/reservations/<%= data.id %>" class=" btn btn-primary btn-rounded" >
                        Reserve Ticket
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>