<% include ../header %>

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/assets/img/bg/performers.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                        Performers
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Home</a> | </li>
                <li><span>Performers</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- page title section end-->


<!--speaker section-->
<section class="pb100">
        <div class="pt100 container">
                <div class="section_title mb50">
                    <h3 class="title">
                       Pulse performers
                    </h3>
                </div>
            </div>
        <div id="performer-box-container" class="row justify-content-center no-gutters">

        </div>
    </div>
</section>
<!--speaker section end -->


<% include ../footer %>