<% include ../header %>

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/assets/img/bg/registration.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                        Reservations
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Home</a> | </li>
                <li><span>Reservations</span></li>
            </ul>
        </div>
    </div>
</section>
<!-- page title section end-->

<!-- user info -->
<section class="pt100 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="icon_box_two">
                    <i class="ion-ios-person-outline"></i>
                    <div class="content">
                        <h5 id="user-name" class="box_title">

                        </h5>
                        <p id="user-email">

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="icon_box_two">
                    <i class="ion-ios-pricetag-outline"></i>
                    <div class="content">
                        <h5 class="box_title">
                            reservations
                        </h5>
                        <p id="user-reservation-counter">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 pt-4">
                    <a onclick="logout()" class=" btn btn-primary btn-rounded pull-right">
                        Logout
                    </a>
            </div>
        </div>
    </div>
</section>
<!--event info end -->

<!--event calender-->
<section class="pt100 pb100">
    <div class="container">
        <div class="table-responsive">
            <table class="event_calender table">
                <thead class="event_title">
                    <tr>
                        <th>
                            <i class="ion-ios-pricetags-outline"></i>
                            <span>Reserved events</span>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="reservation-box-container">
                    <!-- user reservations here -->
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--event calender end -->

<% include ../footer %>