<% include ../header %>

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/assets/img/bg/pulse_wide.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                        Events
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Home</a> | </li>
                <li><span>Events</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->


<!--events section -->
<section class="pt100 pb100">
    <div class="container">
        <div class="form-group">
            <label>Filter by type</label>
            <select id="event-type-select" class="form-control py-0" title="Scegli una opzione" style="height: 40px;">
                <option value="" disabled selected>-- Type filter --</option>
                <option value="opera">Opera</option>
                <option value="theater">Theater</option>
                <option value="dance">Dance</option>
                <option value="music">Music</option>
            </select>
        </div>
        <div class="form-group">
            <label>Filter by date</label>
            <div class="row">
                <div class="col-12 col-md-10 pr-0">
                    <input id="event-date-select" type="text" class="form-control" style="height: 40px;">
                </div>
                <div class="col-12 col-md-2 pl-0">
                    <input id="event-date-today" type="submit" class="btn btn-md pull-right" value="Today"
                        style="height: 40px; width:100%">
                </div>
            </div>

            <input id="event-filter-reset" type="submit" class="btn btn-md pull-right" value="Reset"
                        style="height: 40px; width:100%">
        </div>
        <div id="event-box-container">
            <%# Events boxes loaded here %>
        </div>
    </div>
</section>
<!--event section end -->

<% include ../footer %>