<!DOCTYPE html>
<html>

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Fun Art Festival Website">
    <meta name="keywords" content="Festival , Art , Music , Opera , Dance , Theatre , Theater">
    <meta name="author" content="Colombo, Finazzi, Forconi">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Fun Art Festival </title>
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/et-line.css" rel="stylesheet">
    <link href="/assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <% styles.forEach(element => { %>
    <link rel="stylesheet" href="<%= element %>">
    <% }); %>
</head>

</html>

<body>

    <!--header start here -->
    <header class="header navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand logo" href="/">
                <img src="/assets/img/pulse-logo_w.png" width="100" alt="Festival" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-text-align-right"></span>
            </button>
            <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
                <ul class=" nav navbar-nav menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/performers">Performers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/seminars">Seminars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/contacts.html">Contact</a>
                    </li>
                    <li class="search_btn">
                        <a id="account-icon" href="/registration" alt="Log in">
                            <i class="ion-ios-contact"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    <div class="main-content">