<%=if (data.index % 3 == 0) '<div class="row no-gutters">' %>
<div class="col-12 col-md">
    <div class="speaker_box">
        <div class="speaker_img">
            <img src="/assets/img/<%= data.path %>" alt="<%= data.name %>">
        </div>
    </div>
</div>
<%=if (data.index % 3 == 2 || data.last) '</div>' %>